.product-home3 {
    .right {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 40px 20px;
      background-color: $lightGrey;
  
      h2 {
        text-transform: uppercase;
      }
    }
  
    .left {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 30px;
  
    button {
      width: 200px;
      padding: 15px 30px;
      text-transform: uppercase;
      color: $black;
      border: 1px solid $black;
      background-color: $lightGrey;
    }
  }
  
  
  
  
  // media
  
  @media (min-width: 600px) {
    .product-home3 {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      margin-bottom: 30px;
      gap: 25px;
  
      .right {
        width: 50%;
      }
  
      .left {
        width: 50%;
      }
    }
  }
  
  @media (min-width: 1000px) {
    .product-home3 {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 25px;
      margin-top: 30px;
      margin-bottom: 30px;
  
      .right {
        width: 50%;
        padding: 70px;
      }
  
      .left {
        width: 50%;
      }
    }
  }
  